@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,400;1,300&display=swap');

:root {
  --button-color:#007BFF;
  --background-lightgray:#F8F9FA;
  --text-color:#212529;
  --secondarytext-color:#6C757D;
  --blue-button:#007BFF;
  --green-button:#4CAF50;
  --deep-orange-button:#007BFF;
  --gunmetal-text-color:#263238;
  --dark-gray:#333333;
  --highlights:#FF6F61;
  --notifications:#00BCD4;
  --highlightsandnotifications:#FFC107;
  --font-size-header:28px;
  --font-size-subheader:22px;
  --body-text-size:16px;
  --secondary-text-font:14px;
  --box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --light-gray:#9E9E9E;


}
.gaptop16{
  margin-top: 16px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* background-color: var(--background-lightgray); */
  /* background:url('./assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh; */

}

code {
  font-family: 'Montserrat', sans-serif;
}
