.nested-dropdown {
    width: 200px;
    position: relative;
  }

  
  .nested-dropdown-toggle {
    display: block;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    padding: 0 10px 0 40px;
    border-radius: 0px;
    box-shadow: none;
    /* border: 1px solid #ececec; */
    /* color: #333; */
    color: white;
    cursor: pointer;
    padding: 10px;
    /* width: 200px; */
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    border-radius: 5px;
    margin-left: -32px;

  
  }
  
  .nested-dropdown-menu {
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 11;
    border-radius: 4px;
    box-shadow: 0 1px 6px #0003;
    position: absolute;
    right: 0;
    top: 40px;
    width: 536px;
    z-index: 11;
  }
  
  .nested-dropdown-item {
    padding: 10px;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .nested-dropdown-item:last-child {
    border-bottom: none;
  }
  
  .nested-dropdown-options {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .nested-dropdown-option {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
  }
  
  .nested-dropdown-option:hover {
    background-color: #007bff;
    color: white;
  }
  
  .nested-apply-btn {
    background-image: linear-gradient(96deg, #53b2fe, #065af3);
    border: 0;
    border-radius: 34px;
    box-shadow: 0 1px 7px 0 #0003;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    outline: 0;
    padding: 9px 20px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
  }
  
  .nested-apply-btn:hover {
    background-color: #218838;
  }
  .nested-dropdown select{
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 4px #00000029;
    cursor: pointer;
    display: flex;
    height: 35px;
    padding-left: 19px;
    width: 64px;
    border: 1px;
  }
  .nsted-apply-btn{
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px #0003;
    display: flex;
    padding: 16px 28px
  }
