/* .star-rating {
    display: flex;
    direction: row;
  }
  
  .star {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .star.filled {
    color: #ffcc00;
  }
  
  .star:hover {
    color: #ffcc00;
  }
   */

   .star-rating {
    display: flex;
    direction: row;
  }
  
  .star {
    font-size: 12px;
    color: #ddd;
  }
  
  .star.filled {
    color: black;
  }
  