.flight_search_data{
    display: flex;
    justify-content: space-between;
   
}
.flight_search_list{
    padding: 10px 14px;
    border-top: 8px solid #e5eef5;
    background: #fff;
    border-radius: 2px;
    position: relative;
    box-shadow: var(--box-shadow);
}
.flight-book-btn{
    border: 1px solid #008cff;
    border-radius: 96px;
    color: #008cff;
    background: #daebff;
    font-weight: 700;
    position: relative;
    padding: 0 8px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 120px;
}
.airlineName{
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px;
}
.fliCode{
    font-size: 11px;
    color: #878787;
}
.airline-logo{
    display: flex;
    
}
.airline-logo img{
    width: 32px;
    height: 32px;
    display: block;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.flightTimeInfo{
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: -3px;
}
.fliStopsSep{
    height: 6px;
    width: 58px;
}
.stop-info p{
    font-size: 12px;
    margin-bottom: 3px;
}
.slashedPrice{
    font-size: 14px;
}
.fontSize18 .lightFont{
    font-size: 12px;
}
.viewFltDtls{
    color: #0091ff;
    cursor: pointer;
    font-size: 14px;
}
.view_flight_details{
    display: flex;
    justify-content: space-between;
}
.flight-details-body, .airline-heading{
    display: flex;
    justify-content: normal;
}
.flight-details{
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 11px;
}
.airline-type{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(117, 117, 117);
    color: rgb(117, 117, 117);
    border: 1px solid;
    border-radius: 16px;
    background: #fff;
    padding: 0 7px;
    display: flex;
    align-items: center;
    height: 18px;
    margin-top: 3px;
    margin-left: 8px;
}
.flight-details-info{
    display: flex;
    justify-content: space-between;
}
.fght-airline-info{
    font-weight: 700;
    color: #000000;
    margin-bottom: 8px;
}
.flight-place{
    font-size: 14px;
    margin-bottom: 2px;
}
.baggageInfo-width{
    width: 33%;
}
.baggageInfo{
    display: flex;
    justify-content: space-between;
}
.baggageInfo-sub-text{
    font-size: 12px;
}
.fare-breakup-text{
    width: 200px;
    display: inline-flex;
}
.flight-details-infoLeft {
    width: 250px;
    padding: 12px;
    border-right: 1px solid #dfdfdf;
}
.date-change-info {
    border-bottom: 1px solid #dfdfdf;
    display: flex;
}
.flight-details-infoLeft:not(:first-child) {
    border-right: none;
}
.flight-details-infoRight {
    padding: 12px;
    font-size: 12px;
}
.fontSize14{
    font-size: 14px;
}
.fontSize12{
    font-size: 12px;
}
.textblack{
    color: black;
    font-weight: 700;
}
.fltsearch-form-fields{
    display: flex;
    flex-direction: column;
}
.fltt-search-btn{
    text-transform: uppercase;
    text-align: center;
    border: none;
    background: #007BFF;
    color: white;
    font-weight: bold;
    position: relative;
}
.fltt-search-btn button{
    border: medium none;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
    padding: 0 20px 0 0;
    position: relative;
    text-transform: uppercase;
    background: none;
    width: 100%;
    border-radius: 3px;
    font-weight: 500;
    z-index: 9;
    letter-spacing: 0.5px;
}
.flt-se-container{
    background: none repeat scroll 0 0 rgb(52 69 88 / 60%);
    padding: 10px;
}
.flt-se-container input[type="radio"] {
    display: none;
  }
  .flt-se-container .radio-button-item {
    background: #fff;
    color: #303030;
    float: left;
    font-size: 15px;
    margin: 0;
    margin-right: 7px;
    font-weight: 300;
    line-height: 30px;
    border-radius: 3px;
  }
  .flt-se-container .radio-button-item label{
    padding: 0 15px;
  }
  .flt-se-container  .radio-button-item .active{
    background: #007BFF;
    color: white;
    font-weight: 700;
  }